body {

}
.container {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1700px;
	position: relative;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	box-shadow: 2px 2px 10px #ddd;
	height: 1700px;
}
/* Navbar */
.navbar {
	box-sizing: border-box;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	position: fixed;
	top: 0;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	height: 50px;
	width: 98.7%;
	font-family: arial;
}
.navbar-left{
	float: left;
}
.btn-sections {
	display: inline-block;
	margin-left: -8px;
	margin-top: 12px;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 2px 2px 10px #ddd;
	font-weight: 600;
	padding: 4px 8px;
}
.ion-navicon {
	color: black;
	padding-right: 5px;
}
.navbar ul {
	display: inline;
	vertical-align: middle;
}
.navbar-left li {
	display: inline;
	padding: 10px;
	font-size: 11px;
	font-weight: 600;
}
.navbar-left a {
	text-decoration: none;
	color: #444;
	vertical-align: middle;
}
.nyt-icon {
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 8px;
}
.ion-android-search {
	padding-right: 8px;
	color: #000;
}
.navbar-center {
	clear: both;
  display: inline-block;
	margin-left: 200px;
}
.logo {
	height: 44px;
}
.navbar-right {
	float: right;
	margin-right: 10px;
	display: inline-block;
}
.btn {
	display: inline;
	background-color: #6288a5;
	color: #fff;
	font-size: 10px;
	font-weight: 600;
	border: none;
	border-radius: 4px;
	padding: 8px 11px;
	margin: 10px 2px;
}
.ion {
	color: grey;
	font-size: 20px;
	vertical-align: middle;
	margin-left: 5px;
}
